$white: white;
$lightgrey: #F6f6f6;
$darkblue: #56A0EE;
$purple: #8C77FF;
$blue: #B9D7FF;
$grey: #827F7F;
$yellow: #F8CA4D;
$bg-width: 500px;
$bg-height: 900px;
$blue-gradient: linear-gradient(#B9D7FF, #56A0EE);
$purple-gradient: linear-gradient(#C1C1FF, #8972FF);
$yellow-gradient: linear-gradient(to bottom left, #F8CA4D, #7C6527);
$mdc-theme-primary: $darkblue;
$mdc-theme-secondary: $yellow;
$mdc-theme-on-primary: $blue;
$mdc-theme-on-secondary: $lightgrey;

@import '@material/react-layout-grid/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import "@material/elevation/mdc-elevation";
@import '@material/react-fab/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-tab-bar/index.scss';
@import '@material/react-tab-scroller/index.scss';
@import '@material/react-tab/index.scss';
@import '@material/react-tab-indicator/index.scss';

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Product Sans'), local('ProductSans'),
       url('fonts/product-sans/Product Sans Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Product Sans'), local('ProductSans'),
       url('fonts/product-sans/Product Sans Italic.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Product Sans'), local('ProductSans'),
       url('fonts/product-sans/Product Sans Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

.purple-gradient {
  background-image: $purple-gradient;
}

.yellow-gradient {
  background-image: $yellow-gradient;
}

.darkblue {
  background-color: $darkblue;
}

.yellow {
  background-color: $yellow;
}

.blue {
  background-color: $blue;
}

.grey {
  background-color: $grey;
}

.lightgrey{
  background-color: $lightgrey;
}

body {
  margin: 0;
  font-family: ProductSans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  height: $bg-height;
  border-radius: 10px;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
}

.info-background{
  background-image: $blue-gradient;
  border-radius: 10px;
  height: 450px;
}

.weather-bar{
  padding: 0;
  border-radius: 10px;
}

.weather-fab{
  background-image: $yellow-gradient;
  opacity: 10%;
  width: 300px;
  height: 300px;
}

.weather-fab-logo{
  width: 150px !important;
  height: 150px !important;
  color: white;
}

.rounded{
  border-radius: 10px;
}

.skinny-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.weather-title{
  // padding-left: 24%;
  margin-left: auto;
  margin-right: auto;
}

.hidden { display:none; }

.search-width{
  width: 80%;
  padding-left: 20px;
}

.search-bar-item{
  display: inline-block;
}

.non-pointer{
  cursor: default;
}

.current-temp{
  font-size: 70px;
  margin-bottom: 0;
  margin-top: 30px;
}

.no-margin{
  margin: 0;
  padding: 1px;
}

.current-tempdeg{
  font-size: 40px;
  position: absolute;
}

.current-desc{
  font-size: 30px;
  font-weight: 400;
}

.current-address{
  font-size: 20px;
}

.current-uv{
  margin-bottom: 0;
  color: $blue;
}

.current-visibility{
  color: $blue;
}

.tab-bar{
  width: 100%;
  margin-top: 70px;
  font: ProductSans;
  color: $darkblue;
  background-color: $lightgrey;
}

.current-detail > p {
  font-size: 15px;
  display: inline-block;
  color: grey;
  padding: 10px 0;
}

.current-detail > span {
  font-size: 20px;
  color: grey;
}

.forecast-hourly {
  padding: 0 10px;
}

.forecast-daily {
  padding: 10px 20px;
}