@import 'utilities';
@import '@material/react-layout-grid/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import "@material/elevation/mdc-elevation";
@import '@material/react-fab/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-tab-bar/index.scss';
@import '@material/react-tab-scroller/index.scss';
@import '@material/react-tab/index.scss';
@import '@material/react-tab-indicator/index.scss';

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Product Sans'), local('ProductSans'),
       url('fonts/product-sans/Product Sans Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Product Sans'), local('ProductSans'),
       url('fonts/product-sans/Product Sans Italic.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Product Sans'), local('ProductSans'),
       url('fonts/product-sans/Product Sans Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

.purple-gradient {
  background-image: $purple-gradient;
}

.yellow-gradient {
  background-image: $yellow-gradient;
}

.darkblue {
  background-color: $darkblue;
}

.yellow {
  background-color: $yellow;
}

.blue {
  background-color: $blue;
}

.grey {
  background-color: $grey;
}

.lightgrey{
  background-color: $lightgrey;
}

body {
  margin: 0;
  font-family: ProductSans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rounded{
  border-radius: 10px;
}

.skinny-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.non-pointer{
  cursor: default;
}

.no-margin{
  margin: 0;
  padding: 1px;
}

