$white: white;
$lightgrey: #F6f6f6;
$darkblue: #56A0EE;
$purple: #8C77FF;
$blue: #B9D7FF;
$lightblue: #d6e8ff;
$grey: #827F7F;
$yellow: #F8CA4D;
$bg-width: 500px;
$bg-height: 900px;
$blue-gradient: linear-gradient(#B9D7FF, #56A0EE);
$purple-gradient: linear-gradient(#C1C1FF, #8972FF);
$yellow-gradient: linear-gradient(to bottom left, #F8CA4D, #7C6527);
$mdc-theme-primary: $darkblue;
$mdc-theme-secondary: $yellow;
$mdc-theme-on-primary: $blue;
$mdc-theme-on-secondary: $lightgrey;
